{
  "client_id": "",
  "client_type": 3,
  "package_name": "com.skillgomoku.app",
  "api_key": "",
  "services": {
    "app_invite_service": {
      "other_platform_oauth_client": []
    },
    "analytics_service": {
      "analytics_collection_enabled": true,
      "analytics_upload_enabled": true,
      "deferred_deep_link_enabled": true
    },
    "cloud_messaging_service": {
      "apns_config": {}
    },
    "app_config_service": {}
  }
}